@import "tailwindcss";


@tailwind utilities;

/* Optional: smooth font & better scaling */
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  @apply bg-black text-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* simple utility for container max width */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

}